$black:#2C2C2C;
$dark_gray: #6C6C6C;
$darklight_gray: #949494;
$gray: #C2C2C2;
$light_gray: #EDEDED;
$white: #F9F9F9;

.make_blur {
    filter: blur(3px) !important;
    overflow: hidden !important;
    z-index: 100;
}

.show_form {
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.login_register_container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 200;
    background-color: rgba($color: $gray, $alpha: 0.5);
    transform: scale(0);
    opacity: 0;
}

.page_information_conteinar {
    transition: all 0.2s ease-in-out;
    filter: blur(0px);
    height: 100vh;
    overflow-y: scroll;

    .Presentation_container {
        display: flex;
        height: 89vh;
    
        .information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: right;
            padding-top: 9em;
            padding-left: 100px;
            width: 100%;
            gap: 10px;
            
            h2 {
                font-size: 54px;
                margin: 30px 0 0 0;
                color: $black;
            }
    
            p {
                width: 600px;            
                font-size: 20px;
                text-align: center;
                color: $dark_gray;
            }
    
            .register_button_information {
                width: 280px;
                font-size: 22px;
            }
        }
    
        .image {
            display: flex;
            justify-content: left;
            padding-top: 6em;
            width: 80%;
    
            img  {
                $imgsize: 29em;
                min-height: $imgsize;
                min-width: $imgsize;
                margin-left: 20px;
                object-fit: cover;
                border-radius: 35px;
            }
        }
    }
    
    .information_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    
        h2 {
            font-size: 40px;
        }
    
        .information_cards {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            height: 100%;
            width: 100%;
            gap: 100px;
    
            .register_button_information {
                font-size: 18px;
                width: 230px;
            }
        }
    }
    
    .security_information_container {
        display: flex;
        height: 80vh;
    
        .image {
            display: flex;
            justify-content: right;
            padding-top: 6em;
            width: 80%;
    
            img  {
                $imgsize: 25em;
                min-height: $imgsize;
                min-width: $imgsize;
                margin-right: 25px;
                object-fit: cover;
                border-radius: 35px;
            }
        }
    
        .information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;
            padding-top: 9em;
            padding-right: 100px;
            width: 100%;
            gap: 10px;
            
            h2 {
                font-size: 40px;
                margin: 30px 0 0 0;
                text-align: center;
                color: $black;
            }
    
            p {
                width: 450px;            
                font-size: 20px;
                text-align: center;
                color: $dark_gray;
            }
    
            .register_button_information {
                width: 280px;
                font-size: 22px;
            }
        }
    }
    
    .Options_Register_Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
    
        h2  {
            font-size: 35px;
            margin-top: 40px;
        }
    
        .Options_Container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 190px;
            width: 100%;
            height: 100%;
    
            div {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-top: 30px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
    
    
                p {
                    font-size: 30px;
                    width: 250px;
                }
    
                img {
                    $imgsize: 100px;
                    height: $imgsize;
                    width: $imgsize;
                }
            }
    
            div::before {
                content: "";
                position: absolute;
                height: 6px;
                width: 0;
                transform: translate(0, 40px);
                background-color: $black;
                transition: all 0.3s ease-in-out;
            }
    
            div:hover::before {
                width: 320px;
            }
        }
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vh;
        padding-left: 100px;
        box-shadow: 0 -4px 0 0 $gray;
    
        .logo_container {
            display: flex;
            align-items: center;
        }
    }
}

